
<script src="/Content/js/plugins/jquery/jquery-3.3.1.js"></script>



<form id="leadForm" action="/LeadPools/ViewLead" method="post">
    <h1>User Listing</h1>
    <div id="content">

        <div class="box box-danger">
            <div class="box-header with-border">



                <div id="content">
                    <div class="addbutton right">
                        <a href="@Url.Action("Register", "Account")"> <input type="button" class="btn btn-danger" value="Add User" /></a>

                        
                    </div>
                    <div class="form-horizontal">
                        <div id="jsGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<script type="text/javascript">



    $(document).ready(function () {
        var MyDateField = function (config) {
            jsGrid.Field.call(this, config);
        };

        MyDateField.prototype = new jsGrid.Field({

            css: "date-field",            // redefine general property 'css'
            align: "center",              // redefine general property 'align'

            myCustomProperty: "foo",      // custom property

            sorter: function (date1, date2) {
                return new Date(date1) - new Date(date2);
            },

            itemTemplate: function (value) {

                return new Date(value).toDateString();
            },

            filterTemplate: function (value) {
                return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
            },

            insertTemplate: function (value) {
                if (this.inserting)
                    return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
            },

            editTemplate: function (value) {
                if (this.inserting)
                    return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
            },

            insertValue: function () {
                if (this.inserting)
                    return this._insertPicker.datepicker("getDate").toISOString();
            },

            editValue: function () {
                if (this.inserting)
                    return this._editPicker.datepicker("getDate").toISOString();

            }
        });

        jsGrid.fields.date = MyDateField;

        //Float Value
        function DecimalField(config) {
            jsGrid.fields.number.call(this, config);
        }

        DecimalField.prototype = new jsGrid.fields.number({

            filterValue: function () {
                return this.filterControl.val()
                    ? parseFloat(this.filterControl.val() || 0, 10)
                    : undefined;
            },

            insertValue: function () {
                return this.insertControl.val()
                    ? parseFloat(this.insertControl.val() || 0, 10)
                    : undefined;
            },

            editValue: function () {
                return this.editControl.val()
                    ? parseFloat(this.editControl.val() || 0, 10)
                    : undefined;
            }
        });

        jsGrid.fields.decimal = jsGrid.DecimalField = DecimalField;
        //End Float Value

        var originalFilterTemplate = jsGrid.fields.text.prototype.filterTemplate;
        jsGrid.fields.text.prototype.filterTemplate = function () {
            var grid = this._grid;
            var $result = originalFilterTemplate.call(this);
            $result.on("keyup", function (e) {
                // TODO: add proper condition and optionally throttling to avoid too much requests
                grid.search();
            });
            return $result;
        }

        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            sorting: true,
            paging: true,
            autoload: true,
            async: false,

            pageSize: 10,
            pageButtonCount: 5,

            controller: {

                loadData: function (filter) {
                    var d = $.Deferred();
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: "../Account/UserListingAjax",
                        dataType: "JSON"
                    }).done(function (result) {
                        for (var prop in filter) {

                            if (filter[prop].length > 0) {
                                result = $.grep(result, function (item) {
                                    var regexp = new RegExp(filter[prop], 'gi');
                                    if (item[prop].match(regexp)) {
                                        return item;
                                    }
                                });
                                break;
                            }

                        }
                        d.resolve(result);
                    });
                    return d.promise();
                }
            },
            fields: [
                { name: "id", title: "id", type: "number", visible: false,  },
                { name: "UserName", title: "User Name", type: "text", width: 50, validate: "required",editing: false },
                { name: "Email", title: "Address", type: "text", width: 100, validate: "required", editing: false },
                {
                    type: 'control',
                    name: 'Edit',
                    align: 'center',
                    itemTemplate: function (_, item) {
                        return "<a onclick =\"ReditectToEditSection('" + item.UserName + "');\" name='Edit'><span class='elementID'><span class='fa fa-pencil'></span></span></a>&nbsp;&nbsp<a href=\"/Account/Delete?Name=" + item.UserName + "\"><span class='elementID'><span class='fa fa-times'></span></span></a>";
                    }, width: 20
                }
            ]

        });

    });

</script>
<script>

    function ReditectToEditSection(UserName) {
        var base_url = window.location.origin;
        window.location = base_url + "/Account/Edit?username=" + UserName;
    }
</script>