@model IEnumerable<SystemConsoler.BLL.Context.Role>
    @{
    ViewBag.Title = "Index";
    }
<div style="padding:10px"class="box box-danger">
    <h1>Roles</h1>

    @Html.ActionLink("Create Role", "Create", "Role",new { @class="btn btn-danger" })

    @*<style type="text/css">
            #tbrole, .c {
                border: double;
            }
        </style>*@

    <table id="" class="table table-striped">
        <thead>
            <tr>
                <th class="c">
                    Role Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="c">
                        @item.Name
                    </td>
                </tr>
            }</tbody>
</table>
</div>